/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body,
input,
button {
	font-family: sans-serif;
}

body {
	font: 1em/1.5;
	line-height: 22px;
	color: rgb(0, 0, 0);
	background: #31383E;
}

header {
	text-align: center;
	color: #fff;
}

h1 {
	font-size: 2.5em;
	margin: 0;
	padding-top: 20px;
	color: #fff;
}

a {
	text-decoration: none;
}

/* ================================= 
  Form Element Styles
==================================== */

form {
	padding: .875em 1.875em 1.875em;
	background: rgb(253, 253, 253);
	margin-bottom: 50px;
	border-radius: 7px;
	border: 1px solid rgba(17, 17, 17, 0.096);
	box-shadow: 0 0 1em #222;

}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

/* error messages */
.error,
.errorEmail {
	color: #fff;
	background: rgb(228, 0, 0);
	font-size: 14px;
	letter-spacing: 1.3px;
	padding: 5px;
	margin-bottom: 15px;
	position: relative;
	top: -12px;
	border-radius: 7px;
	width: 220px;
}

.regexErrorEmail,
.regexError {
	color: #fff;
	background: #294B83;
	font-size: 12px;
	letter-spacing: 1.4px;
	padding: 5px 15px;
	margin-bottom: 15px;
	position: relative;
	top: -12px;
	border-radius: 7px;
	width: 240px;
}

.ccError {
	color: #fff;
	background: rgb(228, 0, 0);
	font-size: 12px;
	letter-spacing: 1.3px;
	padding: 5px;
	margin-bottom: 0px;
	position: relative;
	top: -12px;
	border-radius: 7px;

	width: 150px;
}

.zipError {
	color: #fff;
	background: rgb(228, 0, 0);
	font-size: 12px;
	letter-spacing: 1.3px;
	padding: 5px;
	margin-bottom: 0px;
	position: relative;
	top: -12px;
	border-radius: 7px;
	width: 120px;
}

.cvvError {
	color: #fff;
	background: rgb(228, 0, 0);
	font-size: 12px;
	letter-spacing: 1.3px;
	padding: 5px;
	margin-bottom: 0px;
	position: relative;
	top: -12px;
	border-radius: 7px;
	width: 100px;
}

.block {
	background: #fff;
	width: 1000px;
	height: 1px;
	pointer-events: none;
	border: 0px;
}


fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.25em;
}

legend {
	font-weight: 500;
	padding-top: .5em;
	border-top: 1px solid rgba(17, 17, 17, 0.13);
	margin-bottom: 1.125em;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

label {
	color: #000;
	display: block;
	margin-bottom: .5em;
}

input,
select {
	margin-bottom: 1.125em;
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background: rgba(250, 250, 250, 0.856);
	border: 1px solid #cececeb9;
	border-radius: 7px;
	outline: none;
	/* hover */
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

input:hover,
input:focus,
input:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.03);
}

input:focus {
	background: #fff;
	border-color: #2270E1;
	transition: border-color .4s, background-color .4s;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}




button {
	color: rgb(255, 255, 255);
	padding: .55em 1.25em;
	background: #294B83;
	border-radius: 7px;
	font-size: 19px;
	margin: 1.25em 0 .5em;
	cursor: pointer;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

button:hover,
button:focus,
button:active {
	background: rgb(13, 81, 177);
	box-shadow: 0px 0px 10px rgb(231, 231, 231);

	-webkit-transform: scale(1.1);
	transform: scale(1.05);
}

/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}

	button {
		width: 100%;
	}
}

@media (min-width: 680px) {
	header {
		padding: 4.65em 0 2.5em;
	}

	.col {
		float: left;
	}

	.col+.col {
		margin-left: 2.5%;
	}

	.col-3 {
		width: 23%;
	}

	.col-6 {
		width: 49%;
	}
}